CareCheck.MVC.Admin/Service References/KommunWebservice/KommunWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KommunWebservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49368/KommunWebservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49368/KommunWebservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49368/KommunWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CareCheck.DomainClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKommunWebservice_EmployeeList_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeList" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_EmployeeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_EmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_EmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeletEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeletEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientList_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientList" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientListResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientById_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeletePatientById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeletePatientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_RelativeList_InputMessage">
    <wsdl:part name="parameters" element="tns:RelativeList" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_RelativeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelativeListResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_RelativeById_InputMessage">
    <wsdl:part name="parameters" element="tns:RelativeById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_RelativeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelativeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateRelative_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateRelative" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateRelative_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeleteRelativeById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRelativeById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeleteRelativeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRelativeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_ConnectRelativeAndPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectRelativeAndPatient" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_ConnectRelativeAndPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectRelativeAndPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_TaskList_InputMessage">
    <wsdl:part name="parameters" element="tns:TaskList" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_TaskList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaskListResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_TaskById_InputMessage">
    <wsdl:part name="parameters" element="tns:TaskById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_TaskById_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaskByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateTask" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeleteTaskById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeleteTaskById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateSchedule" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertOrUpdateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientScheduleById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_ScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_ScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeleteScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_DeleteScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientsSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientsSchedules" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_PatientsSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientsSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_EmployeeSchedulesById_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeSchedulesById" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_EmployeeSchedulesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeSchedulesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTodo" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_InsertTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTodoResponse" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_Todos_InputMessage">
    <wsdl:part name="parameters" element="tns:Todos" />
  </wsdl:message>
  <wsdl:message name="IKommunWebservice_Todos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodosResponse" />
  </wsdl:message>
  <wsdl:portType name="IKommunWebservice">
    <wsdl:operation name="EmployeeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/EmployeeList" message="tns:IKommunWebservice_EmployeeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/EmployeeListResponse" message="tns:IKommunWebservice_EmployeeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/EmployeeById" message="tns:IKommunWebservice_EmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/EmployeeByIdResponse" message="tns:IKommunWebservice_EmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateEmployee" message="tns:IKommunWebservice_InsertOrUpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateEmployeeResponse" message="tns:IKommunWebservice_InsertOrUpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/DeletEmployeeById" message="tns:IKommunWebservice_DeletEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/DeletEmployeeByIdResponse" message="tns:IKommunWebservice_DeletEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/PatientList" message="tns:IKommunWebservice_PatientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/PatientListResponse" message="tns:IKommunWebservice_PatientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/PatientById" message="tns:IKommunWebservice_PatientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/PatientByIdResponse" message="tns:IKommunWebservice_PatientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdatePatient" message="tns:IKommunWebservice_InsertOrUpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdatePatientResponse" message="tns:IKommunWebservice_InsertOrUpdatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/DeletePatientById" message="tns:IKommunWebservice_DeletePatientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/DeletePatientByIdResponse" message="tns:IKommunWebservice_DeletePatientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelativeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/RelativeList" message="tns:IKommunWebservice_RelativeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/RelativeListResponse" message="tns:IKommunWebservice_RelativeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelativeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/RelativeById" message="tns:IKommunWebservice_RelativeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/RelativeByIdResponse" message="tns:IKommunWebservice_RelativeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateRelative">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateRelative" message="tns:IKommunWebservice_InsertOrUpdateRelative_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateRelativeResponse" message="tns:IKommunWebservice_InsertOrUpdateRelative_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRelativeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/DeleteRelativeById" message="tns:IKommunWebservice_DeleteRelativeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/DeleteRelativeByIdResponse" message="tns:IKommunWebservice_DeleteRelativeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectRelativeAndPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/ConnectRelativeAndPatient" message="tns:IKommunWebservice_ConnectRelativeAndPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/ConnectRelativeAndPatientResponse" message="tns:IKommunWebservice_ConnectRelativeAndPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaskList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/TaskList" message="tns:IKommunWebservice_TaskList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/TaskListResponse" message="tns:IKommunWebservice_TaskList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaskById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/TaskById" message="tns:IKommunWebservice_TaskById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/TaskByIdResponse" message="tns:IKommunWebservice_TaskById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateTask" message="tns:IKommunWebservice_InsertOrUpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateTaskResponse" message="tns:IKommunWebservice_InsertOrUpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/DeleteTaskById" message="tns:IKommunWebservice_DeleteTaskById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/DeleteTaskByIdResponse" message="tns:IKommunWebservice_DeleteTaskById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateSchedule" message="tns:IKommunWebservice_InsertOrUpdateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/InsertOrUpdateScheduleResponse" message="tns:IKommunWebservice_InsertOrUpdateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/PatientScheduleById" message="tns:IKommunWebservice_PatientScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/PatientScheduleByIdResponse" message="tns:IKommunWebservice_PatientScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/ScheduleById" message="tns:IKommunWebservice_ScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/ScheduleByIdResponse" message="tns:IKommunWebservice_ScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/DeleteScheduleById" message="tns:IKommunWebservice_DeleteScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/DeleteScheduleByIdResponse" message="tns:IKommunWebservice_DeleteScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientsSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/PatientsSchedules" message="tns:IKommunWebservice_PatientsSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/PatientsSchedulesResponse" message="tns:IKommunWebservice_PatientsSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeSchedulesById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/EmployeeSchedulesById" message="tns:IKommunWebservice_EmployeeSchedulesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/EmployeeSchedulesByIdResponse" message="tns:IKommunWebservice_EmployeeSchedulesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/InsertTodo" message="tns:IKommunWebservice_InsertTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/InsertTodoResponse" message="tns:IKommunWebservice_InsertTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Todos">
      <wsdl:input wsaw:Action="http://tempuri.org/IKommunWebservice/Todos" message="tns:IKommunWebservice_Todos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKommunWebservice/TodosResponse" message="tns:IKommunWebservice_Todos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKommunWebservice" type="tns:IKommunWebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeList">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/EmployeeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/EmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/InsertOrUpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/DeletEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientList">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/PatientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/PatientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdatePatient">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/InsertOrUpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatientById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/DeletePatientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelativeList">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/RelativeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelativeById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/RelativeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateRelative">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/InsertOrUpdateRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRelativeById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/DeleteRelativeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectRelativeAndPatient">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/ConnectRelativeAndPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskList">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/TaskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/TaskById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateTask">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/InsertOrUpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/DeleteTaskById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateSchedule">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/InsertOrUpdateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientScheduleById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/PatientScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/ScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/DeleteScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientsSchedules">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/PatientsSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeSchedulesById">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/EmployeeSchedulesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTodo">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/InsertTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Todos">
      <soap:operation soapAction="http://tempuri.org/IKommunWebservice/Todos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KommunWebservice">
    <wsdl:port name="BasicHttpBinding_IKommunWebservice" binding="tns:BasicHttpBinding_IKommunWebservice">
      <soap:address location="http://localhost:49368/KommunWebservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>