vardkollen/Service References/KommunWebservice/KommunWebservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CareCheck.DomainClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CareCheck.DomainClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49368/KommunWebservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Relative">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patients" nillable="true" type="tns:ArrayOfPatient" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Relative" nillable="true" type="tns:Relative" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medications" nillable="true" type="tns:ArrayOfMedication" />
      <xs:element minOccurs="0" name="PersonNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relatives" nillable="true" type="tns:ArrayOfRelative" />
      <xs:element minOccurs="0" name="Schedules" nillable="true" type="tns:ArrayOfSchedule" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfMedication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medication" nillable="true" type="tns:Medication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedication" nillable="true" type="tns:ArrayOfMedication" />
  <xs:complexType name="Medication">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patients" nillable="true" type="tns:ArrayOfPatient" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Medication" nillable="true" type="tns:Medication" />
  <xs:complexType name="ArrayOfRelative">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relative" nillable="true" type="tns:Relative" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelative" nillable="true" type="tns:ArrayOfRelative" />
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:Patient" />
      <xs:element minOccurs="0" name="PatientId" type="xs:int" />
      <xs:element minOccurs="0" name="TodoList" nillable="true" type="tns:ArrayOfTodoList" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfTodoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoList" nillable="true" type="tns:TodoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoList" nillable="true" type="tns:ArrayOfTodoList" />
  <xs:complexType name="TodoList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="Schedule" nillable="true" type="tns:Schedule" />
      <xs:element minOccurs="0" name="ScheduleId" type="xs:int" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="tns:Task" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TodoList" nillable="true" type="tns:TodoList" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
</xs:schema>