CareCheck.MVC.Employee/Service References/EmployeesWebservice/EmployeesWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeesWebservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57877/EmployeesWebservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57877/EmployeesWebservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57877/EmployeesWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CareCheck.DomainClasses" />
      <xsd:import schemaLocation="http://localhost:57877/EmployeesWebservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeesWebservice_EmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeById" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_EmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_EmployeeSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeSchedule" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_EmployeeSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_UpdateTodoList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoList" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_UpdateTodoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoListResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_PatientScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientScheduleById" />
  </wsdl:message>
  <wsdl:message name="IEmployeesWebservice_PatientScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeesWebservice">
    <wsdl:operation name="EmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeesWebservice/EmployeeById" message="tns:IEmployeesWebservice_EmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeesWebservice/EmployeeByIdResponse" message="tns:IEmployeesWebservice_EmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeesWebservice/EmployeeSchedule" message="tns:IEmployeesWebservice_EmployeeSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeesWebservice/EmployeeScheduleResponse" message="tns:IEmployeesWebservice_EmployeeSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTodoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeesWebservice/UpdateTodoList" message="tns:IEmployeesWebservice_UpdateTodoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeesWebservice/UpdateTodoListResponse" message="tns:IEmployeesWebservice_UpdateTodoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeesWebservice/PatientScheduleById" message="tns:IEmployeesWebservice_PatientScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeesWebservice/PatientScheduleByIdResponse" message="tns:IEmployeesWebservice_PatientScheduleById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeesWebservice" type="tns:IEmployeesWebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeById">
      <soap:operation soapAction="http://tempuri.org/IEmployeesWebservice/EmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeSchedule">
      <soap:operation soapAction="http://tempuri.org/IEmployeesWebservice/EmployeeSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTodoList">
      <soap:operation soapAction="http://tempuri.org/IEmployeesWebservice/UpdateTodoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientScheduleById">
      <soap:operation soapAction="http://tempuri.org/IEmployeesWebservice/PatientScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesWebservice">
    <wsdl:port name="BasicHttpBinding_IEmployeesWebservice" binding="tns:BasicHttpBinding_IEmployeesWebservice">
      <soap:address location="http://localhost:57877/EmployeesWebservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>