CareCheck.MVC.Admin/Service References/RelativesWebservice/RelativesWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RelativesWebservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57520/RelativesWebservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57520/RelativesWebservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57520/RelativesWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CareCheck.DomainClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRelativesWebservice_RelativesPatientByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:RelativesPatientByEmail" />
  </wsdl:message>
  <wsdl:message name="IRelativesWebservice_RelativesPatientByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelativesPatientByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRelativesWebservice_PatientDetailSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientDetailSchedules" />
  </wsdl:message>
  <wsdl:message name="IRelativesWebservice_PatientDetailSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientDetailSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="IRelativesWebservice_PatientDetailInfoById_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientDetailInfoById" />
  </wsdl:message>
  <wsdl:message name="IRelativesWebservice_PatientDetailInfoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientDetailInfoByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRelativesWebservice">
    <wsdl:operation name="RelativesPatientByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelativesWebservice/RelativesPatientByEmail" message="tns:IRelativesWebservice_RelativesPatientByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelativesWebservice/RelativesPatientByEmailResponse" message="tns:IRelativesWebservice_RelativesPatientByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientDetailSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelativesWebservice/PatientDetailSchedules" message="tns:IRelativesWebservice_PatientDetailSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelativesWebservice/PatientDetailSchedulesResponse" message="tns:IRelativesWebservice_PatientDetailSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientDetailInfoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelativesWebservice/PatientDetailInfoById" message="tns:IRelativesWebservice_PatientDetailInfoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelativesWebservice/PatientDetailInfoByIdResponse" message="tns:IRelativesWebservice_PatientDetailInfoById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRelativesWebservice" type="tns:IRelativesWebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RelativesPatientByEmail">
      <soap:operation soapAction="http://tempuri.org/IRelativesWebservice/RelativesPatientByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientDetailSchedules">
      <soap:operation soapAction="http://tempuri.org/IRelativesWebservice/PatientDetailSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientDetailInfoById">
      <soap:operation soapAction="http://tempuri.org/IRelativesWebservice/PatientDetailInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelativesWebservice">
    <wsdl:port name="BasicHttpBinding_IRelativesWebservice" binding="tns:BasicHttpBinding_IRelativesWebservice">
      <soap:address location="http://localhost:57520/RelativesWebservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>